.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  color: #eb4b4b;
  bottom: 270px;
}

.carousel-caption h5 {
  color: #eb4b4b;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  color: #eb4b4b;
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
body{
  height: 100vh;
  text-align: center;
}

/*Modal*/
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;  
}
#username.username, #password.password {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.username:focus{
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
div ul li.nav-link:hover{
  border-bottom: 2px firebrick;
  border-top: 2px firebrick;
}
